<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zw.android_flutter_mix">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".demo2.MT_Page_Activity"/>
        <activity android:name=".demo2.StudyFlutterActivity"></activity>
        <activity android:name=".demo1.TestFlutterActivity" />
        <activity android:name=".demo1.FlutterOfficalExampleActivity" />
        <activity android:name=".demo1.MyFlutterFragmentActivity" />
        <activity android:name=".demo1.SecondFlutterActivity" />
        <activity android:name=".demo1.NativeActivity" />
        <activity android:name=".demo1.TestActivity" />
        <activity android:name=".demo1.ThirdFlutterActivity" /> <!-- 不是FlutterActivity 和 不是继承FlutterActivity的Activity不能通过配置传递InitialRoute等参数 -->
        <activity android:name=".demo1.MyFlutterActivity" />
        <activity android:name=".demo1.FirstFlutterActivity">
            <meta-data
                android:name="io.flutter.InitialRoute"
                android:value="meta-data first_flutter_activity_page" />
        </activity>
        <activity android:name="io.flutter.embedding.android.FlutterActivity">

            <!-- InitialRoute -->
            <meta-data
                android:name="io.flutter.InitialRoute"
                android:value="**** meta-data InitialRoute ****" />
            <!-- Entrypoint -->
            <meta-data
                android:name="io.flutter.Entrypoint"
                android:value="main_x" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>